<link rel="stylesheet" href="/css/_header.css">
<header class="header-container">
    <!-- Page header -->
    <ul>
    <% if(locals.user) {%>
        <li><button><a href="/"> Home </a></button></li>
        <li> <h4><a href="/user/profile"> <%= user.name %> </a></h4> </li>
        <li> <button><a href="/user/sign-out"> Sign Out </a></button></li>
    <%} else{%>
        <li><button><a href="/"> Home </a></button></li>
        <li><button><a href="/user/sign-up "> Sign up </a></button></li>
        <li><button><a href="/user/sign-in"> Sign in </a></buton></li>
        
    <%}%>
    </ul>
</header>