<header id="header-container">
  <!-- Page header -->
  <nav>
    <div class="mini-logo">
      <p>
        <a href='/'>
          codeial
        </a>
      </p>
    </div>
    <div class="auth-links">
      <ul>
        <% if(locals.user) {%>
        <li><a href="/"> Home </a></li>
        <li>
          <a href="/user/profile"> <%= user.name %> </a>
        </li>
        <li><a href="/user/sign-out"> Sign Out </a></li>
        <%} else{%>
        <li><a href="/"> Home </a></li>
        <li><a href="/user/sign-up "> Sign up </a></li>
        <li><a href="/user/sign-in"> Sign in </a>
        </li>

        <%}%>
    </ul>
    </div>
    </nav>
</header>