<link rel="stylesheet" href="/css/home.css" />
<h1>Codeial/<%= title %></h1>
<h6>
  <button><a href="/user/profile">Go to user's profile page</a></button>
  <button type="button"><a href="user/sign-up"> Sign up</a></button>
  <button type="button"><a href="user/sign-in"> Sign in</a></button>
</h6>
