<h1>Sign in</h1>
<div class="sign-in-form-container">
    <form action="/user/create-session" method="POST">
      <label for="email-id">Email ID:</label>
      <input type="email" name="email_id" id="email-id" required/>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required/>
      <button type="submit">Sign in</button>
    </form>
  </div>
<div id="google-sign-in-cont">
  <button><a href="/user/auth/google">Sign in/up with google</a></button>
</div>
  