<div class="sign-in-form-container">
    <form action="/user/create-session" method="POST">
      <label for="email-id">Email ID:</label>
      <input type="email" name="email_id" id="email-id" required/>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required/>
      <button type="submit">Sign in</button>
    </form>
  </div>
  