<div class="sign-up-form-container">
  <form action="/user/create-user" method="POST">
    <label for="email_id">Email ID:</label>
    <input type="email" name="email_id" id="email_id" />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" name="confirm_password" id="confirm_password" />
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    <button type="submit">Submit</button>
  </form>
</div>
