<div>
    <p> Hi <%= comment.user.name%>! </p>
    <br>
    <br>
    <p> Your comment <strong><%=comment.content%></strong> just got published on codeial</p>
    <br>
    <br>
    <p>Thank you and keep visiting!</p>
</div>